// Fontes
$primary-font: "Playfair Display";
$secondary-font: "Roboto";
$third-font: "Montserrat";

// Cores
$primary-color: #282828;
$secondary-color: #ffffff;
$third-color: #000000;
$fourth-color: #333333;
$fifth-color: #444444;
$sixth-color: #FFD700;